/*
    Authors:
        Santiago Kiril Cenkov Stoyanov / 100472051@alumnos.uc3m.es
        Oscar Hontoria Herrador / 100471a20@alumnos.uc3m.es
*/


@font-face
{
    font-family: "Norse-B";
    src: url("../media/fonts/norse-font/NorseBold-2Kge.otf");
}
@font-face
{
    font-family: "Norse-R";
    src: url("../media/fonts/norse-font/Norse-KaWl.otf");
}

@font-face
{
    font-family: "Ubuntu-B";
    src: url("../media/fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf");
}
@font-face
{
    font-family: "Ubuntu-R";
    src: url("../media/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf");
}
@font-face
{
    font-family: "Ubuntu-L";
    src: url("../media/fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf");
}

*
{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    margin: inherit;
    font-family: "Norse-B", "Ubuntu-B", "sans-serif";
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
    color: rgb(156, 223, 255);
}
h1
{
    font-size: max(3.5dvw, 25px);
}
h2
{
    font-size: max(2.5dvw, 25px);
}
p
{
    margin: inherit;
    font-size: max(2.1dvw, 30px);
    font-family: "Norse-R", "Ubuntu-R", "sans-serif";
    font-variant: small-caps;
    color: rgb(255, 255, 255);
}

a
{
    text-decoration: none;
}

.material-icons
{
    color: rgb(255, 255, 255);
}

img
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

figure
{
    margin: inherit;
}

video
{
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: inherit;
}

header, footer
{
    height: 12dvh;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 2%;
    background-color: rgb(70, 70, 70);
}

footer
{
    justify-content: center;
    align-items: center;
}
footer > .flex-x > p
{
    font-size: 3dvw;
    font-family: "Ubuntu-L", "sans-serif";
    color: rgba(255, 255, 255, 0.8);
}

nav
{
    position: absolute;
    display: none;
}

form
{
    display: flex;
}

nav, form
{
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5%;
    padding: 7.5%;
}

section
{
    position: relative;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

input, textarea
{
    height: 100%;
    width: 100%;
    padding: 12px;
    border: 0px;
    /*background-color: transparent;*/
    font-family: "Norse-R", "Ubuntu-R", "sans-serif";
    /*color: rgb(255, 255, 255);*/
    outline: none;
}

.flex-x
{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
.flex-y
{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.title
{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center_box
{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_box
{
    aspect-ratio: 1/1;
}

.nav_section
{
    display: none;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 100dvw;
    background-color: rgba(80, 80, 80, 0.8);
}

.slide
{
    display: none;
}

.navigation_dot
{
    height: 25px;
    width: 25px;
    background-color: brown;
    border: 2px solid rgb(207, 207, 207);
    margin: 8px 8px;
    cursor: pointer;
}

.input-box, .textarea-box
{
    display: flex;
    flex-direction: column;
}
.textarea-box
{
    flex-grow: 1;
}
.input-error-box
{
    font-size: 15px;
    font-family: "Ubuntu-R", "sans-serif";
    color: red;
}

.center
{
    align-items: center;
    justify-content: center;
}

.btn
{
    text-align: center;
    vertical-align: middle;
    padding: .67em .76em;
    cursor: pointer;
}

.btn-add
{
    color:white;
    background-color: #47ce69;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-remove
{
    color:white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.paso
{
    background-color: orange;
}


@media screen and (min-width: 600px)
{

}
@media screen and (min-width: 768px)
{
    nav
    {
        display: flex;
    }

    section
    {
        max-height: 100dvh;
    }

    .nav_section
    {
        display: flex;
    }

    #home
    {
        flex-direction: row-reverse;
    }

    #contact
    {
        flex-direction: row;
    }
}